
/* set the background color for the whole page and text color */

*{background-color: rgb(142, 4, 142);
    color: rgb(255, 174, 0);
    margin: 0;

}
/* let's style the header and navbar */

 .header{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding-bottom: 5px;
    padding-top: 25px;
    border-bottom: solid rgb(255, 174, 0);
 }  


   
nav {
font-size: 20px;
}

nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-between;
}

nav ul li{
    cursor: pointer;
    padding: 8px;
    }

nav ul li:hover{
    background-color: white;
}

/* let's add and style the logo */
.rounded-pill{
    border-radius: 50%;
    border:solid;
    color:black;
    border-width: 10px;}

/* let's style the main */

main{
    display: flex;
}

/* left section */
.left{
    padding-top: 300px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
    height: fit-content;
    
}
article{
    font-size: 20px;
}

button{
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    cursor:pointer;
    font-size: 15px;
    font-style:bold;
    
}
/* right section */

/* let's style the image */
img{
    border-radius: 10%;
    margin: 30px;}

/* let's style the footer */

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: solid rgb(255, 174, 0);
    padding-top: 50px;
    padding-bottom: 50px;

}

